{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content%}
<div id="main">
    <div id="center">
        <div class="heading">
            <div class="log">
                <h1>Coffee..🍵</h1>
            </div>
            <div class="userf">
                <h2>{{name}}</h2><a href="/logout">Logout</a>
            </div>
        </div>
        <div class="text">
            <h1>How far behind would technology be, if no one ever discovered <span class="cof">Coffee?</span></h1>
        </div>
        <div class="imagecontainer">
            <img src="https://images.unsplash.com/photo-1453614512568-c4024d13c247?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1032&q=80"
                alt="">
        </div>
        <div class="imagecontainer">
            <img src="https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGNvZmZlZSUyMGNhZmV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=700&q=60"
                alt="">
        </div>
        <div class="imagecontainer">
            <img src="https://images.unsplash.com/photo-1517231925375-bf2cb42917a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80"
                alt="">
        </div>

    </div>
</div>
<div class="add">
    <a class="addbtn" href="{{url_for('add')}}">👉 Add a Cafe / Shop</a>
</div>
<section class="cafe-sec">
    {% for row in data %}
    <div class="card">
        <div class="image">
            <img src="{{row[3]}}" alt="">
        </div>
        <div class="heads">
            <h2>{{row[1]}}</h2>
        </div>
        <div class="cardcontent">
            <div class="loc">
                <h2>{{row[4]}}</h2>
                <a href="{{row[2]}}"><i class='bx bxs-navigation'></i></a>
            </div>
            <div class="price">
                <h2>Price</h2>
                <h2><i class='bx bx-money-withdraw'></i> {{row[10]}}</h2>
            </div>
            <div class="options">
                {% if row[5] == 1 %}
                <i class='bx bxs-battery-charging'></i>
                {% endif %}
                {% if row[6] == 1 %}
                <i class='bx bx-male-female'></i>
                {% endif %}
                {% if row[7] == 1 %}
                <i class='bx bx-wifi'></i>
                {% endif %}
                {% if row[8] == 1 %}
                <i class='bx bxs-phone'></i>
                {% endif %}
                <i class='bx bx-chair'>{{ row[9] }}</i>
            </div>
            <div class="btns">
                <a href="/update/{{row[0]}}">Update</a>
                <a href="/delete/{{row[0]}}">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/gsap.min.js"
    integrity="sha512-B1lby8cGcAUU3GR+Fd809/ZxgHbfwJMp0jLTVfHiArTuUt++VqSlJpaJvhNtRf3NERaxDNmmxkdx2o+aHd4bvw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../static/js/main.js"></script>
{% endblock %}