{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content%}
<section class="container">
    <nav>
        <h1>Coffee..🍵</h1>
    </nav>
    <div class="content">
        <div class="text">
            <p>How far behind would technology be, if no one ever discovered coffee?</p>
        </div>
        <div class="btn">
            <a href="{{ url_for('signup') }}">SignUp</a>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
    </div>
</section>
<section>
    <div></div>
    {% for row in data %}
    <div class="card">
        <div class="image">
            <img src="{{row[2]}}" alt="">
        </div>
        <div class="content">

        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}